  
version: "3.3"
volumes:
   metrixd-volume:

services:
  janus:
    image: metrixcoin/janus:websockets
    container_name: janus
    build: 
        context: ../../
        cache_from:
          - golang:1.14-alpine
    ports:
        - "23889:23889"
    environment: 
        - METRIX_RPC=http://metrix:testpasswd@metrix:33841
    volumes:
        - ../standalone/myaccounts.txt:$GOPATH/github.com/TheLindaProjectInc/janus/myaccounts.txt
        - ../../https:/https
    depends_on:
      - metrix
    command: --bind 0.0.0.0 --accounts $GOPATH/github.com/TheLindaProjectInc/janus/myaccounts.txt --dev --https-key /https/key.pem --https-cert /https/cert.pem
  metrix:
    ports:
      - "33841:33841"
    image: metrixcoin/metrix
    container_name: metrix_testchain
    command: metrixd -testnet -txindex -addrindex=1 -rpcbind=0.0.0.0:33841 -rpcallowip=0.0.0.0/0 -logevents -rpcuser=metrix -rpcpassword=testpasswd -deprecatedrpc=accounts -printtoconsole
    volumes:
      - metrixd-volume
